<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>率属单位：</label>
                                <input type="text" name="belongsto"/>
                            </li>
                            <li>
                                <label>率属方：</label>
                                <select name="owner" th:with="type=${@dict.getType('owner')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="data:device:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="data:device:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="data:device:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="data:device:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('data:device:edit')}]];
        var listFlag = [[${@permission.hasPermi('data:device:list')}]];
        var removeFlag = [[${@permission.hasPermi('data:device:remove')}]];
        var ownerDatas = [[${@dict.getType('owner')}]];
        var statusDatas = [[${@dict.getType('device_status')}]];
        var functionDatas = [[${@dict.getType('device_func')}]];
        var prefix = ctx + "data/device";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "设备",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '自增主键',
                    visible: false
                },
                {
                    field: 'sn', 
                    title: '编号'
                },
                {
                    field: 'name', 
                    title: '名称'
                },
                {
                    field: 'belongsto', 
                    title: '率属单位'
                },
                {
                    field: 'owner', 
                    title: '率属方',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(ownerDatas, value);
                    }
                },
                {
                    field: 'classify', 
                    title: '分类'
                },
                {
                    field: 'status', 
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'function', 
                    title: '功能分类',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(functionDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="ability(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>能力列表</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /*详细*/
        function ability(id) {
            var url = prefix + '/ability/' + id;
            $.modal.openTab("设备能力", url);
        }
    </script>
</body>
</html>