<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('分配台站设备')" />
</head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <input type="hidden" id="stationId" name="stationId" th:value="${station.id}">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <label>率属单位：</label>
                            <input type="text" name="belongsto"/>
                        </li>
                        <li>
                            <label>率属方：</label>
                            <select name="owner" th:with="type=${@dict.getType('owner')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var ownerDatas = [[${@dict.getType('owner')}]];
    var statusDatas = [[${@dict.getType('device_status')}]];
    var functionDatas = [[${@dict.getType('device_func')}]];
    var prefix = ctx + "data/station/device";

    $(function() {
        var options = {
            url: prefix + "/unallocatedList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            queryParams: queryParams,
            sortName: "id",
            sortOrder: "asc",
            modalName: "能力",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: '自增主键',
                visible: false
            },
            {
                field: 'sn',
                title: '编号'
            },
            {
                field: 'name',
                title: '名称'
            },
            {
                field: 'belongsto',
                title: '率属单位'
            },
            {
                field: 'owner',
                title: '率属方',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(ownerDatas, value);
                }
            },
            {
                field: 'classify',
                title: '分类'
            },
            {
                field: 'status',
                title: '状态',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(statusDatas, value);
                }
            },
            {
                field: 'function',
                title: '功能分类',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(functionDatas, value);
                }
            }]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.stationId = $("#stationId").val();
        return search;
    }

    /* 添加能力-选择能力-提交 */
    function submitHandler() {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        var data = { "stationId": $("#stationId").val(), "deviceIds": rows.join() };
        $.operate.save(prefix + "/selectAll", data);
    }
</script>
</body>
</html>