<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('数据导入列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>率属单位：</label>
                                <input type="text" name="belongsto"/>
                            </li>
                            <li>
                                <label>率属方：</label>
                                <input type="text" name="owner"/>
                            </li>
                            <li>
                                <label>类型：</label>
                                <select name="type" th:with="type=${@dict.getType('station_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="biz:datatimport:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="biz:datatimport:import">
                    <i class="fa fa-upload"></i> 导入
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:datatimport:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('biz:datatimport:edit')}]];
        var removeFlag = [[${@permission.hasPermi('biz:datatimport:remove')}]];
        var ownerDatas = [[${@dict.getType('owner')}]];
        var typeDatas = [[${@dict.getType('station_type')}]];
        var statusDatas = [[${@dict.getType('device_status')}]];
        var prefix = ctx + "biz/datatimport";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                importUrl: prefix + "/import",
                importTemplateUrl: prefix + "/importTemplate",
                exportUrl: prefix + "/export",
                modalName: "数据导入",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '自增主键',
                    visible: false
                },
                {
                    field: 'sn',
                    title: '编号'
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'belongsto',
                    title: '率属单位'
                },
                {
                    field: 'owner',
                    title: '率属方',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(ownerDatas, value);
                    }
                },
                {
                    field: 'theaterCommond',
                    title: '战区'
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'location',
                    title: '部署地'
                },
                {
                    field: 'scope',
                    title: '覆盖区域'
                },
                {
                    field: 'longitude',
                    title: '经度'
                },
                {
                    field: 'latitude',
                    title: '纬度'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果已经存在，更新这条数据。"> 是否更新已经存在的数据
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i>下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>
