<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.TrainMapper">
    
    <resultMap type="Train" id="TrainResult">
        <result property="id"    column="id"    />
        <result property="trainCode"    column="train_code"    />
        <result property="startStation"    column="start_station"    />
        <result property="startTime"    column="start_time"    />
        <result property="arriveStation"    column="arrive_station"    />
        <result property="arriveTme"    column="arrive_tme"    />
    </resultMap>

    <sql id="selectTrainVo">
        select id, train_code, start_station, start_time, arrive_station, arrive_tme from t_train
    </sql>

    <select id="selectTrainList" parameterType="Train" resultMap="TrainResult">
        <include refid="selectTrainVo"/>
        <where>  
            <if test="trainCode != null  and trainCode != ''"> and train_code = #{trainCode}</if>
            <if test="startStation != null  and startStation != ''"> and start_station = #{startStation}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="arriveStation != null  and arriveStation != ''"> and arrive_station = #{arriveStation}</if>
            <if test="arriveTme != null "> and arrive_tme = #{arriveTme}</if>
        </where>
    </select>
    
    <select id="selectTrainById" parameterType="Long" resultMap="TrainResult">
        <include refid="selectTrainVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTrain" parameterType="Train" useGeneratedKeys="true" keyProperty="id">
        insert into t_train
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trainCode != null  and trainCode != ''">train_code,</if>
            <if test="startStation != null  and startStation != ''">start_station,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="arriveStation != null  and arriveStation != ''">arrive_station,</if>
            <if test="arriveTme != null ">arrive_tme,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trainCode != null  and trainCode != ''">#{trainCode},</if>
            <if test="startStation != null  and startStation != ''">#{startStation},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="arriveStation != null  and arriveStation != ''">#{arriveStation},</if>
            <if test="arriveTme != null ">#{arriveTme},</if>
         </trim>
    </insert>

    <update id="updateTrain" parameterType="Train">
        update t_train
        <trim prefix="SET" suffixOverrides=",">
            <if test="trainCode != null  and trainCode != ''">train_code = #{trainCode},</if>
            <if test="startStation != null  and startStation != ''">start_station = #{startStation},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="arriveStation != null  and arriveStation != ''">arrive_station = #{arriveStation},</if>
            <if test="arriveTme != null ">arrive_tme = #{arriveTme},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrainById" parameterType="Long">
        delete from t_train where id = #{id}
    </delete>

    <delete id="deleteTrainByIds" parameterType="String">
        delete from t_train where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>