<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.TsEnemyHistoryMapper">

    <resultMap type="TsEnemyHistory" id="TsEnemyHistoryResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="enemyId"    column="enemy_id"    />
        <result property="longitue"    column="longitue"    />
        <result property="latitude"    column="latitude"    />
        <result property="altitude"    column="altitude"    />
        <result property="speed"    column="speed"    />
        <result property="direction"    column="direction"    />
        <result property="bands"    column="bands"    />
        <result property="frequency"    column="frequency"    />
        <result property="power"    column="power"    />
    </resultMap>

    <sql id="selectTsEnemyHistoryVo">
        select id, create_time, enemy_id, longitue, latitude, altitude, speed, direction, bands, frequency, power from t_ts_enemy_history
    </sql>

    <select id="selectTsEnemyHistoryList" parameterType="TsEnemyHistory" resultMap="TsEnemyHistoryResult">
        <include refid="selectTsEnemyHistoryVo"/>
        <where>
            <if test="enemyId != null "> and enemy_id = #{enemyId}</if>
            <if test="longitue != null  and longitue != ''"> and longitue = #{longitue}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="bands != null  and bands != ''"> and bands = #{bands}</if>
            <if test="frequency != null  and frequency != ''"> and frequency = #{frequency}</if>
            <if test="power != null  and power != ''"> and power = #{power}</if>
        </where>
    </select>

    <select id="selectTsEnemyHistoryById" parameterType="Long" resultMap="TsEnemyHistoryResult">
        <include refid="selectTsEnemyHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertTsEnemyHistory" parameterType="TsEnemyHistory" useGeneratedKeys="true" keyProperty="id">
        insert into t_ts_enemy_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="enemyId != null">enemy_id,</if>
            <if test="longitue != null">longitue,</if>
            <if test="latitude != null">latitude,</if>
            <if test="altitude != null">altitude,</if>
            <if test="speed != null">speed,</if>
            <if test="direction != null">direction,</if>
            <if test="bands != null">bands,</if>
            <if test="frequency != null">frequency,</if>
            <if test="power != null">power,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="enemyId != null">#{enemyId},</if>
            <if test="longitue != null">#{longitue},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="speed != null">#{speed},</if>
            <if test="direction != null">#{direction},</if>
            <if test="bands != null">#{bands},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="power != null">#{power},</if>
         </trim>
    </insert>

    <update id="updateTsEnemyHistory" parameterType="TsEnemyHistory">
        update t_ts_enemy_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="enemyId != null">enemy_id = #{enemyId},</if>
            <if test="longitue != null">longitue = #{longitue},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="altitude != null">altitude = #{altitude},</if>
            <if test="speed != null">speed = #{speed},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="bands != null">bands = #{bands},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="power != null">power = #{power},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTsEnemyHistoryById" parameterType="Long">
        delete from t_ts_enemy_history where id = #{id}
    </delete>

    <delete id="deleteTsEnemyHistoryByIds" parameterType="String">
        delete from t_ts_enemy_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
