<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订阅关系列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>源名称：</label>
                                <input type="text" name="feedName"/>
                            </li>
                            <li>
                                <label>数据名称：</label>
                                <input type="text" name="dataName"/>
                            </li>
                            <li>
                                <label>是否订阅：</label>
                                <select name="isSubscribe" th:with="type=${@dict.getType('subscribe_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>订阅时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('biz:subscribe:edit')}]];
        var removeFlag = [[${@permission.hasPermi('biz:subscribe:remove')}]];
        var isSubscribeDatas = [[${@dict.getType('subscribe_status')}]];
        var prefix = ctx + "biz/subscribe";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订阅关系",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'feedName', 
                    title: '源名称'
                },
                {
                    field: 'dataCode', 
                    title: '数据标识'
                },
                {
                    field: 'dataName', 
                    title: '数据名称'
                },
                // {
                //     field: 'subcategory',
                //     title: '数据子分类'
                // },
                {
                    field: 'isSubscribe', 
                    title: '是否订阅',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(isSubscribeDatas, value);
                    }
                },
                {
                    field: 'dtSubscribe', 
                    title: '订阅时间'
                },
                {
                    field: 'dtUnsubscribe', 
                    title: '退订时间'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>